# Logs
/**/yarn-debug.log*
/**/yarn-error.log*

# Coverage directory
/**/coverage

# Build files
/**/dist
/**/*.tsbuildinfo

# Dependencies
/**/node_modules/

# Yarn Integrity file
/**/.yarn-integrity

# Stryker
/**/.stryker-tmp
/**/reports

# Local evaluation
demo
